{{!-- Admin  pannel --}}

{{!-- manage lecturer --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Manage Lecturer</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Course Code
                                </th>
                                
                                <th>
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                {{#each rows }}
                                <tr>
                                    <td>
                                        {{lecturerId}}
                                    </td>
                                    <td>
                                        {{lecturerName}}
                                    </td>
                                    <td>
                                        {{courseId}}
                                    </td>
                                    <td>
                                        <a href="/admin/lecturer/{{id}}" class="btn btn-primary">View</a>
                                        <a href="/admin/lecturer/{{id}}/edit" class="btn btn-primary">Edit</a>
                                        <a href="/admin/lecturer/{{id}}/delete" class="btn btn-primary">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    